{{define "header"}}
<!DOCTYPE html>
<html {{if .JSClass}}class="{{.JSClass}}"{{end}}>
<head>
    <title>{{if .Title}}{{.Title}}{{else}}Upload Fish{{end}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/main.js"></script>
    
    <!-- Favicon and manifest -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="icon" href="/static/favicon/favicon.ico">
</head>
<body {{with .BodyAttrs}}{{.}}{{end}}>
    {{if not .CustomHeader}}
    <a href="/">
        <img src="/static/logo.png" alt="Upload Fish Logo" class="logo">
    </a>
    {{end}}
{{end}} 